.information {
  flex-basis: 60vw;
  margin-left: 1%;
  background-color: rgb(48, 15, 19);
  border-radius: 10px;
  max-height: 87vh;
}

.about {
  border-radius: 10px;
  box-sizing: border-box;
  padding: 3rem;
  font-weight: 100;
  overflow-y: auto;
}

.about i {
  font-size: 36px;
  margin-right: 20px;
}

.about h1 {
  color: rgb(238, 228, 232);
  position: relative;
  display: inline-block;
  font-size: 3rem;
  width: 50vw;
  margin-top: 20px;
}

.about h1::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 15%;
  width: 60%;
  height: 3px;
  background-color: rgb(119, 93, 103);
}

.about p {
  color: rgb(238, 228, 232);
  margin: 0.5rem 0;
  text-align: left;
  display: block;
}
.about span {
  font-weight: bold;
}

.about h2 {
  color: rgb(238, 228, 232);
  font-size: 2rem;
  margin-top: 35px;
  margin-bottom: 30px;
}

.work {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, auto));
  grid-template-rows: repeat(2, min-content);
  gap: 20px;
  margin-top: 40px;
  /* width: 80%; */
}

.work__box {
  display: flex;
  flex-direction: column;
  background-color: #300f13;
  padding: 1.5rem;
  border-radius: 10px;
  border: 2px solid rgb(194, 185, 188);
}

.work__icon {
  font-size: 36px;
  color: rgb(238, 228, 232);
}

.work__desc {
  color: rgb(119, 93, 103);
}

/* @media (max-width: 768px) {
  .work {
    grid-template-columns: minmax(min-content, auto);
  }
} */
