.education__timeline {
  background-color: rgb(48, 15, 19);
  border-radius: 20px;
  margin: 20px auto;
}

.education {
  padding: 2rem;
}

.education i {
  font-size: 4rem;
}

.education h1 {
  color: rgb(238, 228, 232);
  position: relative;
  display: inline-block;
  font-size: 4rem;
  width: 50%;
  margin-top: 30px;
}

.education h1::after {
  position: absolute;
  content: "";
  top: 117%;
  right: 114%;
  width: 5%;
  height: 4px;
  background-color: rgb(168, 123, 136);
}
.education h1::before {
  position: absolute;
  content: "";
  top: 50%;
  right: -60%;
  width: 90%;
  height: 3px;
  background-color: rgb(119, 93, 103);
}
.card {
  position: relative;
  width: 100%;
  padding: 20px;
}
.card:nth-child(odd) {
  padding: 30px 0 30px 30px;
}
.card:nth-child(even) {
  padding: 30px 30px 30px 0;
}

.card::before {
  content: "";
  position: absolute;
  width: 50%;
  border: solid rgb(168, 123, 136);
}

/* Setting the border of top, bottom, left */
.card:nth-child(odd)::before {
  left: 0px;
  top: -4.2px;
  bottom: -4.2px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}
/* Setting the top and bottom to "-5px" because earlier it was out of a pixel in mobile devices */
@media only screen and (max-width: 400px) {
  .card:nth-child(odd)::before {
    left: 1.3px;
    top: -5.3px;
  }
}

/* Setting the border of top, bottom, right */
.card:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card */
.card:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}

/* Removing the border if it is the last card  and it's odd */
.card:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card  and it's even */
.card:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  background-color: rgb(123, 67, 83);
  color: rgb(194, 185, 188);
  border-radius: 10px;
  padding: 20px;
  height: 175px;
}

.info span {
  font-style: italic;
}

/* Title of the card */
.title {
  color: rgb(238, 228, 232);
  position: relative;
}

/* Timeline dot  */
/* .title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  transform: translateX(3px);
} */

.card .description {
  margin-top: 10px;
}

.card .description span {
  font-style: italic;
}

/* text right if the card is even  */
.card:nth-child(even) > .info > .title,
.card:nth-child(even) > .info > span,
.card:nth-child(even) > .info > .description {
  text-align: right;
  /* margin: 10px; */
}

/* setting dot to the left if the card is odd */
.card:nth-child(odd) > .info > .title::before {
  left: -45px;
}

/* setting dot to the right if the card is odd */
.card:nth-child(even) > .info > .title::before {
  right: -45px;
}
