html {
  background-color: #250911;
  overflow: hidden;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  color: rgb(238, 228, 232);
  letter-spacing: 2px;
  max-width: 100vw;
  height: 100vh;
  background: linear-gradient(60deg, #775d67, rgb(37, 9, 17));
  display: flex;
  flex-wrap: wrap;
}

.main {
  display: flex;
  flex-basis: 100%;
}
